<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet" href="/static/styles.css"> 
</head>

<body background="static/background_wood.jpg">

{% if page %}

<table class='centerTable' width="100%">

<tr height = "40">

<td width="10%" > 
  	{% if page.index != 0 %}
		<a class='normal' href="{{ url_for('show_page', name=name, action='previous') }}"> <- Previous </a>
		<br>
	{% endif %}
</td>

<td width="6%" align="left">
	<a class='normal' href="{{ url_for('show_page', name=name, action='current') }}"> Page {{ page.index+1 }} </a>
</td>

<td width="8%"> 
  	{% if not page.last_page %}
	  	<a class='normal' href="{{ url_for('show_page', name=name, action='next') }}"> Next -> </a>
		<br>
	{% endif %}
</td>

<td align="right"> 
	<a class='normal' href="{{ url_for('list_file_names') }}"> Back to File List </a>
</td>

</tr>

</table>

<h1 align="center" >{{ page.header}}</h1>

<!--
<table class="centerTable" width="700">

	{% for line in page.lines %}
		<tr><td height='40'>
		<h3 align="left"> {{ line }} </h3> 
		</td></tr>
	{% endfor %}

</table>
-->

<table class="centerTable" width="700">
<tr> <td>
<ul>
	<br>
	{% for line in page.lines %}
		{% if line == '+' %}
			<ul>
		{% else %}
			{% if line == '-' %}
				</ul>
			{% else %}
				<li>{{ line }} </li>
				<br><br>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
</td></tr>
</table>

{% else %}
  <h1> No word! </h1>
{% endif %}


</body>